{% extends "base.html" %}
{% block title %}注册{% endblock %}

{% block content %}

<form method="POST">
    <h1 align="center">真香辅导注册</h1>
    <div class="form-group">
        <label for="username">用户名</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
    </div>
    <div class="form-group">
        <label for="password">密码</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="密码">
    </div>
    <div class="form-group">
        <label for="password_confirm">确认密码</label>
        <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="确认密码">
    </div>
    <div class="form-group">
        <label for="email">邮箱</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="邮箱">
    </div>
    <button type="submit" class="btn btn-primary">注册</button>
</form>

{% endblock %}